h1{
    text-align: center;
    color:black;
}
h2{
    text-align: center;
    color:black;
}
.recipe{
    color:darkorange;
    font-size: 60px;
    
}
.finder{
    color:black;
    font-size: 60px;
    
}
#searchInput{
    display: block;
    margin: 0 auto;
    padding: 10px;
    width: 300px;
    font-size: 16px;
}
#searchButton{
    display: block;
    margin: 0 auto;
    padding: 10px 20px;
    background-color: darkorange;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
.search-container{
    width: 750px;
    margin: 40px auto;
    display: flex;
    align-items: center;
    background: white;
    border: 1px solid #ddd;
    border-radius: 18px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.08);
    overflow: hidden;
}

.search-icon{
    font-size: 24px;
    color: gray;
    padding-left: 20px;
    padding-right: 15px;
}

#searchInput{
    flex: 1;
    border: none;
    outline: none;
    padding: 18px 0;
    font-size: 18px;
}

#searchInput::placeholder{
    color: #777;
}

#searchButton{
    width: 150px;
    height: 55px;
    margin: 8px;
    border: none;
    border-radius: 12px;
    background: #ff6200;
    color: white;
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
}

#searchButton:hover{
    background: #e85b00;
}
.categories{
    display: flex;
    justify-content: center;
    gap: 20px;          /* Creates space between buttons */
    margin-top: 30px;
}
.category{
    width: 120px;
    height: 50px;
    background: white;
    border: 1px solid black;
    border-radius: 15px;
    font-size: 18px;
    cursor: pointer;

    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;           /* Space between icon and text */
}
.category.active{
    background: white;
    border: 1px solid black;
}
.category:hover{
    background: #d3b3b3;
}
.category.active:hover{
    background: #d3b3b3;
}
body{
    margin:0;
    font-family:Arial, sans-serif;
    background:#fff;
}
.hero{
    width:100%;
    height:430px;

    background-image:url("images/food-bg.jpg");
    background-size:cover;
    background-position:center;
    background-repeat:no-repeat;

    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
}
.hero{
    width:100%;
    height:430px;

    background-image:url("https://images.unsplash.com/photo-1490818387583-1baba5e638af?fm=jpg&q=60&w=3000&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxzZWFyY2h8OXx8Zm9vZCUyMGJhY2tncm91bmR8ZW58MHx8MHx8fDA%3D");
    background-position:center;

    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
}
